<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Not Found</title>
</head>
<body>
<div>
    <h1>OOPS!!!!<span th:text="${msg}"></span></h1>
    <h3>Sorry for the inconvenience...</h3>
    <h3>Our Engineers are updating the stocks...</h3>
    <h3>please visit again after some time.</h3>
</div>
</body>
</html>